<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.IndexMapper">
<!--    <resultMap id="X" type="com.chen.pojo.Index">-->
<!--        <result property="cid" column="cid" jdbcType="int"/>-->
<!--        <result property="name" column="name"  jdbcType="varchar"/>-->
<!--        <result property="typeid" column="typeid" jdbcType="varchar"/>-->
<!--        <result property="typename" column="typename" jdbcType="varchar"/>-->
<!--        <result property="text" column="text" jdbcType="varchar"/>-->
<!--        <result property="img" column="img" jdbcType="Blob"/>-->
<!--        <result property="rate" column="rate"  jdbcType="float"/>-->
<!--        <result property="director" column="director" jdbcType="varchar"/>-->
<!--    </resultMap>-->
    <select id="findUserItem" resultType="UserItem">
        select * from user_item
    </select>  <!--用户列表项-->

    <select id="findCreateLeftItem" resultType="CreateLeftItem">
        select * from create_item
    </select>

    <select id="findIndex" parameterType="int" resultType= "Item_Details">
        select uid,pid,type_name,title,simple_text,content,cover_img,href,read_times,like_times,comments_times,favorites,day_times
        from item_details
        order by favorites desc

    </select>


</mapper>