<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.IndexMapper">
<!--    <resultMap id="X" type="com.chen.pojo.Index">-->
<!--        <result property="cid" column="cid" jdbcType="int"/>-->
<!--        <result property="name" column="name"  jdbcType="varchar"/>-->
<!--        <result property="typeid" column="typeid" jdbcType="varchar"/>-->
<!--        <result property="typename" column="typename" jdbcType="varchar"/>-->
<!--        <result property="text" column="text" jdbcType="varchar"/>-->
<!--        <result property="img" column="img" jdbcType="Blob"/>-->
<!--        <result property="rate" column="rate"  jdbcType="float"/>-->
<!--        <result property="director" column="director" jdbcType="varchar"/>-->
<!--    </resultMap>-->
    

    <select id="findIndex" parameterType="int" resultType= "Item_Details">
        select uid,pid,typename,title,content,img,href,readTimes,likeSize,commentsSize,favorites,dayTimes from item_details
    </select>


</mapper>