<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.UserMapper">

    <select id="findByName" resultType="User">
        select * from users where username=#{username}
    </select>  <!--根据username查找-->

    <select id="findUserInfo" resultType="User">
        select * from users where uid=#{uid}
    </select>  <!--获取登录用户信息-->

    <select id="getUserLikeGroup">
        select * from community where gid in (select gid from user_community where uid=#{uid})
    </select>

    <select id="findByUnameAndPwd" parameterType="java.lang.String" resultType="User">
        select * from users where username=#{username} and password=#{password}
    </select>  <!--验证账号和密码-->

    <update id="updateUserImg" parameterType="java.lang.String" >
        update users set user_img=#{user_img} where uid=#{uid}
    </update>  <!--更新用户头像-->

    <update id="updateUserInfo" parameterType="User">
        update users set uname=#{uname},sex=#{sex},email=#{email} where uid=#{uid};
        update item_comments set uname=#{uname} where uid=#{uid};
        update item_details set uname=#{uname} where uid=#{uid}
    </update>   <!--更新用户信息-->



    <insert id="registByEmail" parameterType="User" >
        insert into users
        values (#{uid},#{username},#{password},#{email},#{phone},#{sex},'/images/default_user_img.jpg',#{sign_time},0,1);
    </insert>  <!--注册-->

    <insert id="registByPhone" parameterType="User" >
        insert into users
        values (#{uid},#{username},#{password},#{email},#{phone},#{uname},#{sex},'/images/default_user_img.jpg',#{sign_time},0,1);
    </insert>  <!--注册-->


    <insert id="addUserLikeComment" parameterType="UserLikeComment">
        insert into user_likecomments values (#{uid},#{pid},#{comment_id})
        update item_comments set likeTimes=likeTimes+1 where comment_id=#{comment_id}
    </insert>   <!--用户点赞的评论-->

    <delete id="deleteUserLikeComment" parameterType="UserLikeComment">
        delete from user_likecomments where uid=#{uid} and pid=#{pid} and comment_id=#{comment_id}
        update item_comments set likeTimes=likeTimes-1 where comment_id=#{comment_id}
    </delete>   <!--用户取消点赞的评论-->

    <insert id="createNewProject" parameterType="Item_Details_Temp">
        insert into item_details_temp values (#{uid},#{uname},#{pid},#{type_id},#{type_name},#{title},#{simple_text},#{content},#{cover_img},#{href},0,#{create_time})
    </insert>

    <select id="getMyProject">
        select * from item_details where uid=#{uid} order by create_time desc;
    </select>

    <insert id="addLikeCommunity">
        insert into user_community values (#{uid},#{gid},null);
    </insert>

    <select id="getUserLikeCommunity">
        select * from user_community where uid=#{uid} and gid=#{gid}
    </select>

    <delete id="removeCommunity">
        delete from user_community where uid=#{uid} and gid=#{gid}
    </delete>

    <select id="getUserLikeDetails">
        select * from user_likedetails where uid=#{uid} and pid=#{pid}
    </select> <!--获取用户喜欢列表 -->
    <delete id="deleteUserLikeDetails">
        delete from user_likedetails where uid=#{uid} and pid=#{pid}
        update item_details set like_times=like_times-1 where pid=#{pid}
    </delete>
    <insert id="addUserLikeDetails">
        insert into user_likedetails values(#{uid},#{pid},#{like_time})
        update item_details set like_times=like_times+1 where pid=#{pid}
    </insert>


    <select id="getUserRecentLookCommunity">
        select * from community as c,userlookcommunity_time as ut where ut.uid=#{uid} and ut.gid=c.gid order by last_sign_time desc
        OFFSET 0 ROW
        FETCH NEXT 5 ROWS ONLY
    </select>

    <select id="getUserLookCommunity">
        select * from userlookcommunity_time where uid=#{uid} and gid=#{gid}
    </select>

    <insert id="insertUserLookCommunity">
        insert into userlookcommunity_time values (#{uid},#{gid},#{last_sign_time})
        update community set
            total_times=total_times+1,
            day_times=day_times+1,
            week_times=week_times+1,
            month_times=month_times+1,
            threemonth_times=threemonth_times+1,
            sixmonth_times=sixmonth_times+1,
            year_times=year_times+1 where gid=#{gid}
    </insert>

    <update id="updateUserSignTime">
        update userlookcommunity_time set last_sign_time=#{last_sign_time} where uid=#{uid} and gid=#{gid}
        update community set
                             total_times=total_times+1,
                             day_times=day_times+1,
                             week_times=week_times+1,
                             month_times=month_times+1,
                             threemonth_times=threemonth_times+1,
                             sixmonth_times=sixmonth_times+1,
                             year_times=year_times+1 where gid=#{gid}
    </update>


</mapper>